.container{
    padding: 2rem;
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    gap: 2rem;

}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 1rem;

}

.tbody>tr>td{
    text-align: center;

}

.tbody>tr>:nth-child(2)
{
    width: 15%;
}

.imageTd>span>img{
    border-radius: 1rem;
}

.cart{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    height: 16rem;
    padding: 1.6rem;
    background: var(--cartBack);
     box-shadow: var(--shadow);
    border-radius: 15p;  
} 

 .cart>span{
    font-weight: bold;
    font-size: 1.5rem
    
}
.CartDetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.CartDetails>div{
    display: flex;
    justify-content: space-between;
} 

.buttons{
    display: flex;
    gap: 1rem;
    
}
.buttons> *{
    font-size: 0.8rem;
    padding: 0.8rem;

}

.buttons>:nth-child(1)
{
    background-color: transparent;
    color: var(--themeRed);
    border: 2px solid var(--themeRed);
}
