.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex: 1;
}
.logo>span{
    font-weight: bold;
    font-style: 1.5rem;
}

.menu{
   flex: 1; 
   display: flex;
   list-style: none;
   gap: 2rem;
   justify-content: center;
   z-index: 99;
}

.menu>li:hover{
    cursor: pointer;
    color: var(--themeRed);
}
.rightside{
    flex: 1;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.cart{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 99;
}

.bags{
    position: absolute;
    display: flex;
    background-color: var(--themeRed);
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -0.5rem;
}